:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --base-color: #ffffff;
  --base-offset-color: #eaeaea;
  --highlight-color: #1976d2;
  --heading-color: #1c1b1d;
  --text-color: #4e5157;
}

$breakpoints: (
  'tiny': 300px,
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'pygments/github';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  overflow-x: hidden;


}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 8em;
}
